<footer class="footer bg-primary py-3 mt-auto text-center">
  <div class="container">
    <span class="text-white"
      >&copy; Bibliotecas Populares Córdoba - 2025 -
    </span>
    <span class="text-dark text-end">
      Desarrollado con &hearts; por
      <a
        class="text-dark"
        href="https://pablo-peralta-portfolio.onrender.com/"
        target="_blank"
        >Pablo Peralta</a
      ></span
    >
  </div>
</footer>
