<footer class="footer bg-primary py-3 mt-auto text-center">
  <div class="container">
    <span class="text-white"
      >&copy; Bibliotecas Populares - Provincia de Córdoba - 2024</span
    >
    <span class="text-dark text-end"> By Pablo Peralta</span>
  </div>
</footer>
