<% layout('layouts/boilerplate') %>

<div id="container" class="d-flex">
    
    <div class="card d-flex justify-content-center align-items-center mb-3">
        <div class="row">
            <div class="col-lg-8 offset-lg-2"> 
        <div class="main-content p-3">
            <section class="mb-5">
                <h2 class=" text-center text-wrap mb-3">¿QUÉ ES UNA BIBLIOTECA POPULAR?</h2>
                <p>Una biblioteca popular es una asociación civil autónoma creada por la iniciativa de un grupo de vecinos de una comunidad. 
                    Ofrece servicios y espacios de consulta, expresión y desarrollo de actividades culturales, de la lectura y de extensión bibliotecaria en forma amplia, libre y pluralista.</p>
                  <p> Las bibliotecas populares son dirigidas y sostenidas principalmente por sus socios y brindan información, educación, recreación y animación socio-cultural, 
                    por medio de una colección bibliográfica y multimedial general y abierta al público.</p> 
                </section>
         <section>
 <h2 class=" text-center text-wrap mb-3">¿CÓMO CONSTITUIR UNA BIBLIOTECA POPULAR?</h2>
                    <p>En primera instancia, un grupo de vecinos autoconvocados deben reconocer en la localidad, barrio o comuna la necesidad y conveniencia de fundar 
                        y sostener una entidad de estas características. Para ello deberán realizarse visitas, encuentros, encuestas, hasta que la propia maduración del proyecto determine su firmeza.</p>
                    <p>En esa etapa, pueden realizarse colectas y hasta acondicionar un local mínimo que permita brindar un ámbito propio a la biblioteca en formación. 
                        También es el momento para lograr acuerdos con otras instituciones oficiales y/o privadas que -sin intervenir en sus decisiones- puedan aportar alguna forma de ayuda al proyecto.</p>
                    <p>Una vez logrado este consenso y de continuar el entusiasmo y los objetivos iniciales se debe dar el siguiente paso fundamental: la Asamblea Constitutiva.</p>
                </section>      
        </div>
</div>
</div>
</div>
</div> 



                   
<!--     
        <div class="main-content flex-grow-1">
            <section>
            <h2 class=" text-center text-wrap">¿QUÉ ES UNA BIBLIOTECA POPULAR?</h2>
            <p>Una biblioteca popular es una asociación civil autónoma creada por la iniciativa de un grupo de vecinos de una comunidad. 
                Ofrece servicios y espacios de consulta, expresión y desarrollo de actividades culturales, de la lectura y de extensión bibliotecaria en forma amplia, libre y pluralista.</p>
              <p> Las bibliotecas populares son dirigidas y sostenidas principalmente por sus socios y brindan información, educación, recreación y animación socio-cultural, 
                por medio de una colección bibliográfica y multimedial general y abierta al público.</p> 
            </section>
            <section>
                <h2>¿CÓMO CONSTITUIR UNA BIBLIOTECA POPULAR?</h2>
                <p>En primera instancia, un grupo de vecinos autoconvocados deben reconocer en la localidad, barrio o comuna la necesidad y conveniencia de fundar 
                    y sostener una entidad de estas características. Para ello deberán realizarse visitas, encuentros, encuestas, hasta que la propia maduración del proyecto determine su firmeza.</p>
                <p>En esa etapa, pueden realizarse colectas y hasta acondicionar un local mínimo que permita brindar un ámbito propio a la biblioteca en formación. 
                    También es el momento para lograr acuerdos con otras instituciones oficiales y/o privadas que -sin intervenir en sus decisiones- puedan aportar alguna forma de ayuda al proyecto.</p>
                <p>Una vez logrado este consenso y de continuar el entusiasmo y los objetivos iniciales se debe dar el siguiente paso fundamental: la Asamblea Constitutiva.</p>
            </section>
        </div>
</div> -->