<% layout('layouts/boilerplate') %>

<div id="container" class="d-flex">
    <div class="card d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-lg-8 offset-lg-2"> 
        <div class="main-content p-3">
            <section>
                <h2 class=" text-center text-wrap">REQUISITOS PARA SER UNA BIBLIOTECA POPULAR</h2>
                <p><strong>Para que un proyecto de este tipo pueda convertirse en biblioteca popular reconocida por la CONABIP, deben cumplirse las siguientes condiciones:</strong></p>
                <ul>
                    <li> Establecerse por iniciativa de la comunidad en general, en localidades, zonas o barrios carentes de los servicios de una biblioteca popular próxima.</li>
                    <li>Constituirse formalmente como asociación civil, con exclusividad para funcionar como BIBLIOTECA POPULAR y con Personería Jurídica como tal.</li>
                    <li>Estar abierta en un horario no inferior a veinte horas semanales, con acceso y atención libre y gratuita a todo público, sin distinción alguna.</li>
                    <li>Exponer en su fachada un cartel con la DENOMINACION de la Biblioteca, su carácter de BIBLIOTECA POPULAR y el HORARIO de atención al público.</li>
                    <li>Contar entre los asociados con un número determinado de personas de la comunidad o barrio en el que funciona la biblioteca popular.</li>
                    <li>Contar con una sala adecuada destinada al uso específico de la Biblioteca Popular, con acceso directo desde la calle.</li>
                    <li>Poseer un fondo bibliográfico básico y heterogéneo, de amplia temática, para todas las edades.</li>
                </ul>
            </section>
        </div>
</div>
</div>
</div>
</div>






