<% const title = "Verificación pendiente" %>
<% layout('layouts/boilerplate') %>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-6 offset-xl-3">
                <h1 class="text-center">Revisa tu casilla de correo</h1>
                <p>Hemos enviado un correo de verificación a tu dirección. Por favor, revisa tu bandeja de entrada y haz clic en el enlace para verificar tu cuenta.</p>
                <p>Si no ves el correo, revisa la carpeta de spam.</p>
                </div>
        
                </div>
            </div>
        </div>
    </div>