<% layout('./layouts/boilerplate') %>

<div id="container">
    <h2 class="text-center mb-4">Legislación Bibliotecas Populares</h2>
    <!-- <p><a class="btn btn-info" href="./bibliotecas/nueva" role="button">Cargá tu biblioteca</a></p> -->
    <div class="card mb-4 col-lg-8 offset-lg-2">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 p-3">
                <h4 class="mb-3 text-center">Legislación a nivel nacional</h4>
                <ul>
                    <li class="mb-4">Ley 23.351 de Bibliotecas Populares   <a
                            href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/20000-24999/23024/norma.htm" target="_blank">Ver
                            el texto de la ley</a></li>
                    <li>Reglamentación de la Ley Nº 23.351    <a
                            href="http://www.saij.gob.ar/1078-nacional-decreto-nacional-ley-23351-bibliotecas-populares-dn19891001078-1989-07-06/123456789-0abc-870-1001-9891soterced" target="_blank">Ver
                            el texto de la ley</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br>

    <div class="card mb-4 col-lg-8 offset-lg-2">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 p-3">
                <h4 class="mb-3 text-center">Legislación a nivel provincial</h4>
                <ul>
                    <li>Ley 8.016 Sistema Provincial de Bibliotecas Populares y Decreto
                            Reglamentario    <a href="http://v.conabip.gob.ar/legislacion/detalle/5318" target="_blank">Ver
                            el texto de la ley</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br>

    <div class="card mb-5 col-lg-8 offset-lg-2">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 p-3">
                <h4 class="text-center mb-3">Ordenanzas municipales</h4>
                <ul>
                    <li class="mb-4">Córdoba Capital. Ordenanza Municipal Nº 9521 Comisión Municipal de Bibliotecas
                            Públicas Populares   <a
                            href="https://cultura.cordoba.gob.ar/wp-content/uploads/sites/21/2021/03/ord-no-9521-bibliotecas-publicas-populares.pdf" target="_blank">Ver
                            el texto de la ley</a></li>
                    <li>Río Cuarto. Ordenanza Municipal nº 1301/06 apoyo municipal a las Bibliotecas
                            Populares    <a href="http://v.conabip.gob.ar/legislacion/detalle/5450" target="_blank">Ver
                            el texto de la ley</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <h2 class="mb-4 text-center">Organismos</h2>
    <div class="card mb-4 col-lg-8 offset-lg-2">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 p-4">
                <ul>
                    <li class="mb-4">CONABIP - Comisión Nacional de Bibliotecas Populares   <a href="http://v.conabip.gob.ar" target="_blank">Ir al sitio oficial</a></li>
                    <li class="mb-4">Agencia Córdoba Cultura</strong> <a href="https://cultura.cba.gov.ar/" target="_blank">Ir al sitio oficial</a></li>
                    <li class="mb-4">Asociación Bibliotecarios de Córdoba   <a href="https://abibcor.org.ar/" target="_blank">Ir al sitio web</a></li>
                    <li>IPJ. Dirección de Inspección de Personas Jurídicas de Córdoba   <a href="https://ipj.cba.gov.ar/" target="_blank">Ir al sitio oficial</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br>
</div>