#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

body {
    background-color: #edf6f9 !important;
}

#bibliotecas-list.row {
    display: flex;
    flex-wrap: wrap;
}

#bibliotecas-list.row > .col-md-6 {
    display: flex;
    height: auto;
}

.biblioteca-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.biblioteca-item .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.biblioteca-item .card > .row.g-0 {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    height: 100%;
}

.biblioteca-item .card .row {
    display: flex;
}

.biblioteca-item .card .row .col-md-4 {
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
    height: 100%;
    flex: 0 0 auto;
    width: 40%;
}

.biblioteca-item .card .row .col-md-4 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.biblioteca-item .card .row .col-md-8 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex: 0 0 auto;
    width: 60%;
    height: 100%;
}

.biblioteca-item .card .row .col-md-8 .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 1rem;
    height: 100%;
}

.biblioteca-item .card .row .col-md-8 .card-body p {
    margin-bottom: 0.25rem;
    padding-bottom: 0;
}

.biblioteca-item .card .row .col-md-8 .card-body .card-title {
    margin-bottom: 0.75rem;
}

#conabip {
    margin-bottom: 0.75rem;
}

.bd-sidebar {
    width: 300px;
    padding: 20px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

.main-content {
    margin-left: 20px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .biblioteca-item .card .row .col-md-4 {
        width: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        display: none;
    }

    .biblioteca-item .card .row .col-md-8 {
        width: 100%;
        flex: none;
    }
}

@media (max-width: 1200px) {
    .biblioteca-item .card {
        min-width: 100%;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .biblioteca-item .card .row .col-md-4 {
        display: none;
    }

    #address,
    #conabip {
        display: none;
    }

    .card-body {
        padding-left: 1rem;
        width: 100%;
    }

    .card-body h5,
    p,
    a {
        font-size: 1rem;
    }
}

@media (min-width: 460px) and (max-width: 768px) {
    .biblioteca-item .card .row .col-md-4 {
        display: block;
    }
}

@media (max-width: 460px) {
    #container {
        flex-direction: column;
    }

    .bd-sidebar {
        width: 100%;
        margin-bottom: 1rem;
    }

    .main-content {
        width: 100%;
    }

    .biblioteca-item .card .row .col-md-8 .card-body .btn {
        display: none;
    }

    .biblioteca-item .card .row .col-md-8 .card-body h5.card-title {
        margin-bottom: 0.25rem;
    }

    .biblioteca-item .card .row {
        flex-direction: column;
    }

    .biblioteca-item .card .row .col-md-4 {
        display: none;
    }

    .biblioteca-item .card .row .col-md-8 {
        width: 100%;
        flex: none;
    }

    .card-body {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-left: 0;
        margin-right: 0;
        align-items: center;
    }
}